<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Dashboard News</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body no-padding">
        <table class="table table-hover dataTable" role="grid">
            <tbody>
            {% for news in data.newsrows %}
                <tr>
                <td>{{ news[0] }} : {{ news[1] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
